body{
    background-color: #FFFFFF;
}
h1,h2,h3,h5,h6{
    letter-spacing: 0.5mm;
}
b{
    letter-spacing: 0.5mm;
}
.container{
    border: 1px solid black;
    width: 1024px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
}
.header{
    margin: 0px;
    height: 200px;
    background-color: #4323b4;
    padding: 50px 100px 50px 100px;
}
.childHeader{
    top: 50%;
    left: 50%;
    width: 500px; 
    padding: 2%; 
    margin: auto;
    background: white;
    text-align: center;
}
.internalHeader{
    width: 490px;
    padding-bottom: 30px;
    border-style: solid;
    border-color: #000000;
}
em{
    color: #808080;
    font-size: 14pt;
}
.section-profile{
    height: 350px;
    color: #808080;
}
.profile-description{
    top: 50%;
    left: 50%;
    padding-top: 50px;
    padding-left: 55px;
    width: 25%;
    float: left;
}
.education-details{
    top: 50%;
    left: 50%;
    padding-top: 50px;
    width: 33%;
    float: left;
}
div h2{
    text-align: center;
    color: #000000;
}
.profile-image{
    width: 25%;
    padding: 70px;
    float: left;
}
img{
    top: 50%;
    left: 50%;
    height: 200px;
    border-radius: 50%;
}
.profile-contact{
    width: 25%;
    padding-top: 50px;
    float: left;
    color: #000000;
}
.heading5{
      text-align: center;
  }
.education-column {
    color: #808080;
    float: left;
    width: 25%;
    padding-left: 55px;
}
.skills-column {
    float: left;
    width: 25%;
    color: #808080;
    text-align: left;
}
.expertise-column {
    float: left;
    width: 25%;
    color: #808080;
}
.heading {
    color: #000000;
    border: 1px solid #000000;
    padding: 5px;
    text-align: center;
}
.skills-heading {
    background-color: #F0CEA0;
    padding: 6px;
    color: #000000;
    text-align: center;
}
.skills-heading-exp {
    background-color: #F0CEA0;
    padding: 6px;
    position: relative;
    left: 55px;
    color: #000000;
    text-align: center;
}
.line-skills {
    float: left;
    width: 55px;
    position: relative;
    top: 20px;  
    color: #000000;
}
hr {
    border: 1px solid #000000;
}
.line-exp-left {
    float: left;
    width: 250px;
    position: relative;
    top: 50px;
    left: 55px;
    color: #000000;
    padding-left: 55px;
}
.line-exp-right {
    float: left;
    width: 315px;
    position: relative;
    top: 50px;
    left: 55px;
    color: #000000;
}
.experience-row:after {
    content: none;
    display: table;
    clear: both;
}
.experience-column{
    float: left;
    padding-top: 30px;
    width: 25%;
}
.container:after{
    content: open-quote;
	display: table;
    clear: both;
}
.row-interior{
    height: 150px;
    margin-left: 55px;
    color: #808080;
}
.interior-designer{
    width: 75%;
    float: left;
}
.interior-design-img{
    margin-top:10px; 
    padding-top:10px;
    width: 150px;
    height: 150px;
    color: #FFFFFF;
    text-align: center;
    background-color: #4323b4;
    float: left;
}
.heading-profile{
     color: #000000; 
     text-align: center;
}
.paragraph-profile{
    text-align: justify;
}
.heading-address{
    display: inline; 
    padding-right: 92px;
}
.heading-email{
    display: inline; 
    padding-right: 40px;
}
.heading-site{
    display: inline; 
    padding-right: 96px;
}
.heading-phone{
    display: inline; 
    padding-right: 104px;
}
.icon-address{
    height: 20px;
}
.education-list{
    text-align: justify;
}
.heading-designer{
    text-align: left;
    color: #000000;
}
.row-graphic{
    padding-top:50px;
    margin-left: 55px;
    color: #808080;
    margin-bottom: 50px;
    padding-bottom: 30px;  
}
.graphic-artist{
    width: 75%;
    float: left;
    margin-bottom: 30px;
}
.graphic-artist-img{
    margin-top:10px; 
    padding-top:10px;
    width: 150px;
    height: 150px;
    color: #FFFFFF; 
    text-align: center;
    background-color: #4323b4;
    float: left;
}