body{
	max-width: 1024px;
	min-width: 320px;
	margin: 0 auto;
	border: 7px solid black;
	border-bottom-color: #F0CEA0;
}
body:after {
    content: "";
    display: table;
    clear: both;
}

/****Header****/

header{
    margin: 0px;
    height: 30%;
    background-color: #4323b4;
    padding: 50px 100px 50px 100px;
}
.child-header{
    top: 50%;
    left: 50%;
    height: 150px;
    width: 60%; 
    padding: 2%; 
    margin: auto;
    background: white;
    text-align: center;
}
.internalHeader{
    height: 93%;
    width: 98%;
    border-style: solid;
    border-color: black;
}
em{
    color: #808080;
    font-size: 14pt;
}

/***Section-Profile***/

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 300px; 
    left: 8;
    top: 0;
    width: 55%; 
    height: 100%; 
    overflow: auto; 
    background-color: #000000; 
    background-color: rgba(0,0,0,0.8);
}

.modal-data {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.section-profile {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0px auto;
	padding-bottom: 3%;
}

.profile-description {
	float: left;
    top: 50%;
    left: 50%;
    padding-top: 50px;
    padding-left: 30px;
	width: 25%;
	text-align:justify;
}

.profile-image > img{
    top: 50%;
    height: 200px;
    border-radius: 50%;
}
.profile-image{
	width: 25%;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 70px;
}

.profile-contact{
	width: 25%;
	padding-top: 50px;
	padding-right: 25px;
	text-align: inherit;
	color: #000000; 
}

.icon-address{
	height: 20px;
	float: right;
}

/****Section-Qualification*****/
.section-qualification {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0px auto;
}

.section-qualification-content-heading {
	text-align: center;
	color: black;
	border: 1px solid black;
	padding: 5px;
}

.section-qualification-education-content {
	color: grey;
	width: 270px;
	line-height: 20px;
}

.section-qualification-skills-content {
	text-align: left;
	color:grey;
	width: 270px;
	line-height:20px;
}

.section-qualification-expertise-content{
	text-align: left;
	color:gray;
	width: 270px;
	line-height:20px;
}

.section-qualification-content-skills-heading {
	background-color: #F0CEA0;
	padding: 6px;
	color:black;
	text-align:center;
}

.section-qualification-left-line {
	width: 55px;
	height: 2px;
	background-color: black;
	position: relative;
	top: 30px;
}

.section-qualification-right-line {
	width: 55px;
	height: 2px;
	background-color: black;
	position: relative;
	top: 30px;
}


/***Section Education***/
.experience-row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0px auto;
}
.experience-row:after {
    content: " ";
    display: table;
    clear: both;
}
hr {
    border: 1px solid #000000;
}
.line-exp-left {
    float: left;
    width: 32%;
	padding-top: 50px;
    color: #000000;
}
.line-exp-right {
    float: left;
    width: 32%;
	padding-top: 50px;
    color: #000000;
}
.experience-column{
    float: left;
    padding-top: 30px;
    width: 25%;
}
.experience-heading-exp {
    background-color: #F0CEA0;
    padding: 6px;
    color: #000000;
    text-align: center;
}

/***Experience-Row-content**/
.row-interior{
    height: 150px;
    margin-left: 55px;
    color: #808080;
}
.interior-designer{
    width: 75%;
    float: left;
}
.interior-design-img{
    margin-top:10px; 
    padding-top:10px;
    width: 150px;
    height: 150px;
    color: #FFFFFF;
    text-align: center;
    background-color: #4323b4;
    float: left;
}
.heading-designer{
	color: #000000;
}
.row-graphic{
    padding-top:50px;
    margin-left: 55px;
    color: #808080;
    margin-bottom: 50px;
    padding-bottom: 30px;  
}
.graphic-artist{
    width: 75%;
    float: left;
    margin-bottom: 30px;
}
.graphic-artist-img{
    margin-top:10px; 
    padding-top:10px;
    width: 150px;
    height: 150px;
    color: #FFFFFF; 
    text-align: center;
    background-color: #4323b4;
    float: left;
}

@media screen and (max-width: 999px) {
	.section-qualification-right-line {
		width:0px;
	}
	.section-qualification-expertise-content{
		width: 595px;
	}
	.profile-contact{
		width: 35%;
		color: #000000; 
	}
	.line-exp-left {
		width:0px;
	}
	.line-exp-right {
		width:0px;
	}
	hr{
		width: 0px;
	}
	.experience-heading-exp{
		width: 595px;
	}
	.experience-column{
		width: 595px;
	}
	.interior-design-img{
		margin-left: 35%;
	}
	.graphic-artist-img{
		margin-left: 35%;
	}
}

@media screen and (max-width: 594px) {
	.internalHeader > h1{
		font-size: 16pt;
	}
	.profile-image{
	margin-right: 18%;
	}
	.section-qualification-left-line {
		width:0px;
	}
	.section-qualification-education-content {
		width: 300px;
	}

	.section-qualification-skills-content {
		width: 300px;
	}
	.section-qualification-expertise-content{
		width: 300px;
	}
	.profile-description {
		float: left;
		top: 50%;
		left: 50%;
		padding-top: 50px;
		padding-left: 30px;
		width: 50%;
		text-align:justify;
	}
	.line-exp-left {
		width:0px;
	}
	.line-exp-right {
		width:0px;
	}
	hr{
		width: 0px;
	}
	.experience-heading-exp{
		width: 300px;
	}
	.experience-column{
		width: 300px;
	}
	.interior-design-img{
		margin-left: 10%;
	}
	.graphic-artist-img{
		margin-left: 10%;
	}
}
